.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0px;
}

.postWrapper {
    padding: 10px;

}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.postTopRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.postTopLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    /* 0px is up/down 10px is right/left */
    margin: 0px  10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0px;

}

.postCenterImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
    margin: 0px 10px;
}
.postBottomRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.postCommentText {
    font-size: 15px;
    border-bottom: 1px dashed limegreen;
    cursor: pointer;
}